body {
  font-family: 'Open Sans' , sans-serif;
  font-size: 16px;
}

.heading {
  font-family: 'Roboto Slab' , serif;
}

header {
  display:flex;
  flex-direction: column;
  background: url(Myndir/bg.jpg);
  background-size: cover;
  background-position: 0 0;
  text-align: center;
}

header .menu {
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}

.text--menu {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.header--title {
  font-size: 3em;
}
