body {
  font-family: 'Open Sans' , sans-serif;
  font-size: 16px;
  margin:0;
  padding:0;
}

h1 {
  font-size: 4.5em;
}

h2 {
  font-size: 3.75em;
  margin: 1px;
}

h3 {
  font-size: 3em;
  margin: 1px;
}

.heading {
  font-family: 'Roboto Slab' , serif;
}

.heading--smallheader {
  font-size: 1.75em;
  text-align: left;
}

.heading--header {
  font-size: 3.25em;
}

.header--index {
  display:flex;
  flex-direction: column;
  background: url(Myndir/bg.jpg);
  background-size: cover;
  background-position: 0 0;
  text-align: center;
}

.header--about {
  display:flex;
  flex-direction: column;
  background: url(Myndir/bg-subpage.jpg);
  background-size: cover;
  background-position: 0 0;
  width:100%;
  top:0;
  text-align: center;
  color: white;
  margin:0;
  padding:0;
}

header .menu {
  background-color:rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 1.5em;
  flex-direction: row;
  padding: 0.5em;
  padding-top: none;
}

.heading--menu {
  color: white;
  width:100%;
  font-size:1.5em;
  text-align:left;
  padding:0px;
  margin: 0px;
}

.menu--links {
  display: flex;
  flex-direction: row;
}

.button {
  color: #eee;
  background-color: #666;
  text-decoration: none;
  text-align: center;
  font-size: 2em;
  border: none;
  padding: 0.5em;
  border-radius: 5%;
  margin-right: auto;
  margin-left: auto;
}

.button--header {
  margin-top: 75px;
  margin-bottom: 75px;
}
.wrapper{
  text-align: center;
  padding-bottom:2em;
}

.button--menu {
  font-size: 0.75em;
  display: none;
}

.text--menu{
  color: white;
  text-decoration: none;

}

fieldset{
border:none;
}

.frontpage--top {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.list--main {
  margin: 1em;
}
.list--check {
  list-style: url('check.svg');
  margin: auto;
  text-align: left;
}

.image--midpage {
  display:flex;
  justify-content: center;
}
.image--midpage img{
  max-width: 90%;
  max-height: 500px;
  object-fit: contain;

}
.heading--list {
  font-size: 1.5em;
}

.people {
  margin-bottom: 100px;
}
.profile {
  display: flex;
  flex-direction: column;
  font-size: 0.4em;
  text-align:center;
  margin-bottom: 50px;
}

.quote {
  font-style: italic;
}

.askrift {
  font-size: 2em;
}



.img--profile img{
  border-radius: 50%;
  max-width: 90%;
}

.hype {
  text-align: center;
}

.hype--text {
  font-size: 1.5em;
  font-style: bold;
}

.button--large {
  padding-left: 4em;
  padding-right: 4em;
  margin-bottom: 1em;
}

footer {
  background-color: darkslategray;
  color: white;
}

.footer--info {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 2em;
}
.text--info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em;


}
.trademark {
  text-align: center;
  border-top: 1px solid white;
  padding: 1em;
}

form{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin:3em;
}

input[type="text"], select{
  width:100%;
}

@media (min-width: 600px) {
  header .menu {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .button--menu {
    display: inline;
  }
  form{
    flex-direction: row;
  }
  fieldset{
    width:50%;
  }
}
